.textInput{
    position: relative;
    min-height: 90%;
    max-height: 90%; 
    margin: 3.5% 0.5% 6.5%; 
    overflow-y: scroll;
    padding: 1vh 0.5vw;
    width: 99%;
    border: none;
}

.textInput::placeholder{
    color: hsl(0, 0%, 68%);
}

.textInput:focus{
    outline: none;
}