.container{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
    background-color: hsl(0, 100%, 99%, 0.9);
    border-radius: 1vh;
    resize: none;
    padding: 1vh 0.5vw;
    border: none;
    box-shadow: 1.5px 1.5px 2px hsl(0, 0%, 65%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#fileName{
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    border-radius: 1px solid #333;
    z-index: 0;
}

#fileName h3{
    max-width: 400px;
    min-width: 300px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
}

.fileNameLight h3{
    color: hsl(240, 19%, 57%);
    box-shadow: 1px 1px 2px gray;
}

.fileNameDark h3{
    color: aliceblue;
    box-shadow: 1px 1px 2px hsl(240, 100%, 92%);
    box-shadow: 1px 1px 2px gray;
    color: hsl(240, 19%, 57%);
}

.loadingFileAndTools{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    padding-top: 15vh;
    color: hsl(240, 14%, 51%);
    background-color: hsl(0, 59%, 72%, 0.5);
    background-color: transparent;
    z-index: 49;
    font-size: 1.2rem;
}

.loadingFileAndTools div span{
    animation-duration: 7.25s;
    animation-iteration-count: infinite;
}

.loadingFileAndTools div span:first-child{
    animation-name: slide1;
    animation-delay: 0.25s;
}

@keyframes slide1 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(2){
    animation-name: slide2;
    animation-delay: 0.5s;
}

@keyframes slide2 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(3){
    animation-name: slide3;
    animation-delay: 0.75s;
}

@keyframes slide3 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(4){
    animation-name: slide4;
    animation-delay: 1s;
}

@keyframes slide4 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(5){
    animation-name: slide5;
    animation-delay: 1.25s;
}

@keyframes slide5 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(6){
    animation-name: slide6;
    animation-delay: 1.5s;
}

@keyframes slide6 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(7){
    animation-name: slide7;
    animation-delay: 1.75s;
}

@keyframes slide7 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(8){
    animation-name: slide8;
    animation-delay: 2s;
}

@keyframes slide8 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(9){
    animation-name: slide9;
    animation-delay: 2.25s;
}

@keyframes slide9 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(10){
    animation-name: slide10;
    animation-delay: 2.5s;
}

@keyframes slide10 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(11){
    animation-name: slide11;
    animation-delay: 2.75s;
}

@keyframes slide11 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(12){
    animation-name: slide12;
    animation-delay: 3s;
}

@keyframes slide12 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(13){
    animation-name: slide13;
    animation-delay: 3.25s;
}

@keyframes slide13 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(14){
    animation-name: slide14;
    animation-delay: 3.5s;
}

@keyframes slide14 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(15){
    animation-name: slide15;
    animation-delay: 3.75s;
}

@keyframes slide15 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(16){
    animation-name: slide16;
    animation-delay: 4s;
}

@keyframes slide16 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(17){
    animation-name: slide17;
    animation-delay: 4.25s;
}

@keyframes slide17 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(18){
    animation-name: slide18;
    animation-delay: 4.5s;
}

@keyframes slide18 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(19){
    animation-name: slide19;
    animation-delay: 4.75s;
}

@keyframes slide19 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(20){
    animation-name: slide20;
    animation-delay: 5s;
}

@keyframes slide20 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(21){
    animation-name: slide21;
    animation-delay: 5.25s;
}

@keyframes slide21 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(22){
    animation-name: slide22;
    animation-delay: 5.5s;
}

@keyframes slide22 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(23){
    animation-name: slide23;
    animation-delay: 5.75s;
}

@keyframes slide23 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(24){
    animation-name: slide24;
    animation-delay: 6s;
}

@keyframes slide24 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(25){
    animation-name: slide25;
    animation-delay: 6.25s;
}

@keyframes slide25 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(26){
    animation-name: slide26;
    animation-delay: 6.5s;
}

@keyframes slide26 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(27){
    animation-name: slide27;
    animation-delay: 6.75s;
}

@keyframes slide27 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:nth-child(28){
    animation-name: slide28;
    animation-delay: 7s;
}

@keyframes slide28 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.loadingFileAndTools div span:last-child{
    animation-name: slide29;
    animation-delay: 7.25s;
}

@keyframes slide29 {
    0%{
        color: #fff;
    }

    10%{
        color: hsl(240, 14%, 51%);
    }

    100%{
        color: hsl(240, 14%, 51%);
    }
}


.resizeDiv{
    position: absolute;
    left: 0.2vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    column-gap: 0.8vw;
    z-index: 10;
}

.resizeDiv button{
    display: grid;
    place-content: center;
    background-color: transparent;
    padding: 2px 5px;
    cursor: pointer;
    border: none;
    width: 35px;
    box-shadow: 1px 1px 1px hsl(204, 7%, 73%, 0.7);
    border-radius: 2px;
}

.changesDiv{
    position: absolute;
    right: 0.5vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    column-gap: 0.8vw;
    z-index: 10;
}

.changesDiv button{
    padding: 2px 5px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 1px hsl(204, 7%, 73%, 0.7);
    border: none;
    width: 36px;
    border-radius: 5px;
}

.discardChangesLight{
    background-color: #fff;
    box-shadow: none;
}

.discardChangesDark{
    box-shadow: 1px 1px 2px #fff; 
    background-color: transparent;
}

.moveUpBtn{
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
}


#pagesDiv{
    font-size: 0.95rem;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
    border-radius: 4px;
    padding: 0.5vh 0.5vw;
    z-index: 3;
}

.pagesDivLight{
    color: hsl(120, 14%, 23%, 0.8);
    background-color: #fff;
    box-shadow: 1px 1px 1.5px gray;
}
.pagesDivDark{
    color: #fff;
    background-color: hsl(0, 0%, 49%);
    box-shadow: 1px 1px 1.5px #fff;

}



#goToPage{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 10vw;
    height: 30px;
    z-index: 3;
}


#goToPage input{
    max-width: 70px;
    height: 20px;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#goToPage input:focus{
    outline: none;
}

#goToPage button{
    display: grid;
    place-content: center;
    padding: 1px 3px;
    margin-left: -2px;
    border-radius: 2px;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goToPageLight input{
    color: hsl(180, 8%, 44%);
    border: 1px solid hsl(0, 0%, 72%);
}

.goToPageLight button{
    color: hsl(180, 8%, 44%);
    background-color: hsl(240, 100%, 92%);
    border: 1px solid hsl(180, 6%, 65%);
}


.goToPageDark input{
    background-color: #fff;
    border: 1px solid gray;
}


.goToPageDark button{
    color: #fff;
    border: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 40%);
}