.LinkInputDiv{
    position: absolute;
    width: 15vw;
    left: 35%;
    bottom: 1.5vh;
    min-width: 100px;
    height: 18px;
    z-index: 10;
}

.LinkInputDivComp{
    position: relative;
    height: 100%;
}

.linkInput{
    color: #343;
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 10%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid hsl(0, 0%, 81%);
    box-shadow: 1.5px 1.5px 2px hsl(240, 94%, 87%);
}

.linkInput::placeholder{
    color: hsl(240, 100%, 75%);
}

.linkInput:focus{
    outline: none;
}

.insertBtn{
    display: grid;
    place-content: center;
    position: absolute;
    right: 1.8%;
    height: 80%;
    top: 20%;
    background-color: #fff;
    border: none;
}

.insertBtn img{
    width: 12px;
    height: auto;
}