#container{
    position: relative;
    flex: 1;
    display: flex;
    padding: 2vh 2vw;

}

.containerLight{
    background-color: hsl(0, 100%, 99%, 0.9);
}

.containerDark{
    background: linear-gradient(to bottom, hsl(240, 55%, 8%, 0.9), hsl(230, 55%, 8%, 0.7), hsl(220, 55%, 8%, 0.5), hsl(210, 55%, 8%, 0.3), hsl(200, 55%, 8%, 0.1));
}

.content{
    position: relative;
    flex: 1;
    padding: 1vh 2vw;
}


.backgroundText{
    font-size: 15vw;
    text-align: center;
    margin-top: 25vh;
    color: gray;
    opacity: 0.05;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}