#container{
    padding-top: 5.5vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5vw;
    top: 4.66vh;
    bottom: 5vh;
    bottom: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
}




.showSidebarBtn{
    position: absolute;
    top: 5.6vh;
    left: 0.5vw;
    background-color: transparent;
    border: none;
    transform: rotateY(180deg);
}


#filesDiv{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
    border: 1px solid hsl(0, 0%, 92%);
    border: none;
    border-radius: 1vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 5vh 1vw;
    max-height: 76.5vh;
}

.containerLight #filesDiv{
    background-color: hsl(0, 0%, 100%, 0.7);
    color: hsla(300, 14%, 34%, 0.9);
}

.containerDark #filesDiv{
    background-color: hsl(0, 0%, 35%, 0.8);
    border: 1px solid hsl(0, 0%, 50%, 0.7); 
    color: #fff;
}

.collapseSidebar{
    position: absolute;
    top: 1vh;
    left: 1vw;
    background-color: transparent;
    border: none;
}

#filesDiv::-webkit-scrollbar{
    display: none;
}

#filesDiv span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textImgDiv{
    flex: 1;
    min-width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2px;
}

.fullFileNameToolkit{
    border: none;
    font-size: 12px;
    bottom: -15px;
    text-wrap: wrap;
    display: none;
    align-items: center;
    padding-left: 4px;
    border-radius: 4px;
    position: absolute;
    left: -5px;
    right: -5px;
    height: 80%;
    z-index: 5;
    background-color: hsla(0, 5%, 85%, 0.95);
    color: rgb(255, 255, 245);
}

.lastFullFileNameToolkit{
    border: none;
    background-color: hsla(0, 5%, 85%, 0.95);
    color: rgb(255, 255, 245);
    font-size: 12px;
    text-wrap: wrap;
    top: -14px;
    display: none;
    align-items: center;
    padding-left: 4px;
    border-radius: 4px;
    position: absolute;
    left: -5px;
    right: -5px;
    height: 80%;
    z-index: 5;
}

#filesDiv span button{
    border: none;
    background-color: transparent;
    display: grid;
    place-content: center;
    opacity: 0.6;
}

#noFiles{
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    top: 40%;
    bottom: 50%;
    width: fit-content;
    text-wrap: nowrap;
    left: 0;
    right: 0;
    display: grid;
    margin: 0 auto;
    place-content: center;
    word-spacing: 0.2vh;
    transform: rotate(-90deg); 
}

.noFilesLight{
    color: hsla(0, 0%, 65%, 0.7);
}
.noFilesDark{
    color: gray;
}
