.container{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
    background-color: hsl(0, 100%, 99%, 0.9);
    border-radius: 1vh;
    resize: none;
    padding: 1vh 0.5vw;
    border: none;
    box-shadow: 1.5px 1.5px 2px hsl(0, 0%, 65%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textDiv{
    position: relative;
    min-height: 90%;
    max-height: 90%;
    margin: 3.5% 0.5% 6.5%; 
    overflow-y: scroll;
    width: 99%;
    border: none;
}

.textDiv::-webkit-scrollbar{
    width: 8px;
}

.textDiv::-webkit-scrollbar-track{
    background: transparent;
}

.textDiv::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, hsl(0, 0%, 30%), hsl(240, 21%, 75%), hsl(240, 21%, 81%), hsl(240, 21%, 87%));
    border-radius: 5px;
}

.textDiv::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, hsl(0, 0%, 25%), hsl(240, 21%, 70%), hsl(240, 21%, 76%), hsl(240, 21%, 82%));
 }

.resizeDiv{
    position: absolute;
    left: 0.2vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    column-gap: 0.8vw;
    z-index: 10;
}

#fileName{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    border-radius: 1px solid #333;
    z-index: 0;
}

#fileName h3{
    max-width: 400px;
    min-width: 300px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
}

.fileNameLight h3{
    color: hsl(240, 19%, 57%);
    box-shadow: 1px 1px 2px gray;
}

.fileNameDark h3{
    color: aliceblue;
    box-shadow: 1px 1px 2px hsl(240, 100%, 92%);
    box-shadow: 1px 1px 2px gray;
    color: hsl(240, 19%, 57%);
}

.resizeDiv button{
    display: grid;
    place-content: center;
    background-color: transparent;
    padding: 2px 5px;
    cursor: pointer;
    border: none;
    width: 35px;
    box-shadow: 1px 1px 1px hsl(204, 7%, 73%, 0.7);
    border-radius: 2px;
}

#editFileBtn{
    border: none;
    position: absolute;
    padding: 2px 5px;
    right: 6px;
    width: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px hsl(204, 7%, 73%, 0.7);
    z-index: 10;
}

.moveUpBtn{
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


#pagesDiv{
    font-size: 0.95rem;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
    border-radius: 4px;
    padding: 0.5vh 0.5vw;
    z-index: 3;
}

.pagesDivLight{
    color: hsl(120, 14%, 23%, 0.8);
    background-color: #fff;
    box-shadow: 1px 1px 1.5px gray;
}
.pagesDivDark{
    color: #fff;
    background-color: hsl(0, 0%, 49%);
    box-shadow: 1px 1px 1.5px #fff;

}


#goToPage{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 10vw;
    height: 30px;
    z-index: 3;
}


#goToPage input{
    max-width: 70px;
    height: 20px;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#goToPage input:focus{
    outline: none;
}

#goToPage button{
    display: grid;
    place-content: center;
    padding: 1px 3px;
    margin-left: -2px;
    border-radius: 2px;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goToPageLight input{
    color: hsl(180, 8%, 44%);
    border: 1px solid hsl(0, 0%, 72%);
}

.goToPageLight button{
    color: hsl(180, 8%, 44%);
    background-color: hsl(240, 100%, 92%);
    border: 1px solid hsl(180, 6%, 65%);
}


.goToPageDark input{
    background-color: #fff;
    border: 1px solid gray;
}


.goToPageDark button{
    color: #fff;
    border: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 40%);
}