#container{
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container div:first-child span{
    margin: 0 0.45vw;
    opacity: 0;
}

.containerLight div:first-child span{
    color: silver;
}

.containerDark div:first-child span{
    color: gray;
    transition: 0.1s ease-in-out;
}

#container div:first-child span:first-child{
    animation-name: slide1;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 14s;
}

@keyframes slide1 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(2){
    animation-name: slide2;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-duration: 14s;
}

@keyframes slide2 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(3){
    animation-name: slide3;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 14s;
}

@keyframes slide3 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(4){
    animation-name: slide4;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-duration: 14s;
}

@keyframes slide4 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(5){
    animation-name: slide5;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-duration: 14s;
}

@keyframes slide5 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(6){
    animation-name: slide6;
    animation-iteration-count: infinite;
    animation-delay: 6s;
    animation-duration: 14s;
}

@keyframes slide6 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(7){
    margin-left: 1.2vw;
    animation-name: slide7;
    animation-iteration-count: infinite;
    animation-delay: 7s;
    animation-duration: 14s;
}

@keyframes slide7 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(8){
    animation-name: slide8;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    animation-duration: 14s;
}

@keyframes slide8 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(9){
    animation-name: slide9;
    animation-iteration-count: infinite;
    margin-right: 1.2vw;
    animation-delay: 9s;
    animation-duration: 14s;
}

@keyframes slide9 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(10){
    animation-name: slide10;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-duration: 14s;
}

@keyframes slide10 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(11){
    animation-name: slide11;
    animation-iteration-count: infinite;
    animation-delay: 11s;
    animation-duration: 14s;
}

@keyframes slide11 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:nth-child(12){
    animation-name: slide12;
    animation-iteration-count: infinite;
    animation-delay: 12s;
    animation-duration: 14s;
}

@keyframes slide12 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

#container span:last-child{
    animation-name: slide13;
    animation-iteration-count: infinite;
    animation-delay: 13s;
    animation-duration: 14s;
}

@keyframes slide13 {
    0%{
        opacity: 1;
    }

    10%{
        opacity: 0.9;
    }

    20%{
        opacity: 0.8;
    }

    30%{
        opacity: 0.7;
    }

    40%{
        opacity: 0.6;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    70%{
        opacity: 0.3;
    }

    80%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

