.actionsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
    height: 100%;
}


.btn{
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: aliceblue;
}

.actionsDiv div:last-child{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}