.container{
    display: flex;
    align-items: center;
    column-gap: 1px;
    height: 100%;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
}


.btn{
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
}

.container p{
    margin: 0;
    transform: rotate(90deg);
    font-size: 12px;
}


.textLight{
    color: hsl(240, 15%, 40%, 0.9);
}
.textDark{
    color: #fff;
}