#container{
    flex: 0.8;
    display: flex;
    column-gap: 4vw;
    padding: 1vh 1vw;
    align-items: center;
}

.containerLight{
    background-color: #fff;
}

.containerDark{
    background-color: #555;
}

@media screen and (max-height: 430px) {
    .container{
        margin-top: 1vh;
    }
}

#container button{
    font-weight: bold;
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.containerLight button{
    color: #436;
}
.containerDark button{
    color: #fff;
}

.btnHover:hover{
    color: hsla(120, 74%, 30%, 0.9);
}


@media screen and (max-width: 678px){
    .container{
        column-gap: 0;
        padding: 1vh 1vw;
        column-gap: 8vw;
        justify-content: space-around;
        overflow-x: scroll;
    }

    .container::-webkit-scrollbar{
        display: none;
    }
}