.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 2px;
}


#loadingPage{
    height: 100vh;
    display: grid;
    place-content: center;
}

#loadingPage p{
    color: #333;
    font-size: 2rem;
}