.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
    height: 100%;
}

.btn{
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
}

.container p{
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.btnContainer{
    margin-top: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2px;
    row-gap: 2px;
}


.textLight{
    color: hsl(240, 15%, 40%, 0.9);
}
.textDark{
    color: #fff;
}

.color{
    display: none;
    position: absolute;
    width: 95px;
    top: 2px; 
    height: 14px;
    left: -4.5vw;
    color: #343;
    background-color: #fff;
    border: 1px solid rgb(243, 238, 238);
    border-radius: 5px;
    padding: 0 10px 0 3px;
    font-size: 10px;
    box-shadow: 1px 1px 1.5px hsl(240, 100%, 92%);
}

.color::placeholder{
    color: hsl(240, 100%, 85%);
}


.color:focus{
    outline: none;
}


.insertColorBtn{
    position: absolute;
    top: 0.55vh;
    right: -0.75vw;
    height: 11.5px;
    width: 11.5px;
    display: none;
    place-content: center;
    border: none;
    background-color: transparent;
}

#startListAnim{
    animation-name: listAnim;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    transition: 0.3 ease-in-out;
}

@keyframes listAnim {
    0%{
        color: hsl(240, 33%, 55%);
    }

    25%{
        color: hsl(171, 23%, 55%);
    }

    50%{
        color: hsl(39, 49%, 54%);
    }

    75%{
        color: hsl(275, 70%, 33%);
    }

    100%{
        color: hsl(0, 70%, 60%);
    }
}


#pointToList{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 5%;
    right: 25%;
}

.pointToList{
    opacity: 0;
}

.pointToListAnim{
    animation-name: pointer;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    transition: 0.1 ease-in-out;
    opacity: 0;
}


@keyframes pointer {
    0%{
        bottom: 5%;
        opacity: 0.4;
    }
    100%{
        bottom: 17%;
        opacity: 1;
    }
}