.confirmSaveDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    padding-top: 10vh;
    background-color: hsla(133, 35%, 59%, 0.1);
    left: 0;
    right: 0;
    border-radius: 1vh;
    z-index: 11;
}

.confirmSaveDivCompDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmSaveDivCompDiv p{
    margin-top: 5px;
    padding: 1px 8px;
    border-radius: 2px;
    background-color: #fff;
    max-width: 300px;
    color: rgb(236, 110, 110);
}

.confirmFileNameInput{
    min-width: 25vw;
    max-width: 300px;
    border: none;
    height: 24px;
    border-radius: 12px;
    padding-left: 10px;
    box-shadow: 1px 1px 2px hsla(133, 35%, 59%, 0.2);
}

.confirmFileNameInput:focus{
    outline: none;
}

.confirmSaveDivCompDiv div{
    width: 178px;
    min-width: 25vw;
    max-width: 300px;
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}

#btn{
    display: grid;
    place-content: center;
    color: #fff;
    border-radius: 5px;
    height: 20px;
    flex: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px hsla(133, 35%, 59%, 0.2);
}

.confirmBtn{
    opacity: 0.9;
    background-color: hsla(240, 26%, 57%);
}

.confirmBtn:hover{
    opacity: 1;
}

.cancelBtn{
    opacity: 0.9;
    background-color: hsl(0, 59%, 59%);
}
.cancelBtn:hover{
    opacity: 1;
}
