.textInput{
    color: #343;
    position: absolute;
    width: 11vw;
    min-width: 100px;
    background-color: #fff;
    left: -3.8vw;
    height: 17px;
    top: -3.05vh;
    border: none;
    border-radius: 5px;
    padding: 0 2.5px;
    font-size: 10px;
    box-shadow: 1.5px 1.5px 2px hsl(240, 94%, 87%);
}



.textInput::placeholder{
    color: hsl(240, 100%, 75%);
}

.textInput:focus{
    outline: 1px solid hsl(240, 100%, 92%);
}