.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 5px;
}


.btn{
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: aliceblue;
}