*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    position: relative;
}

.textInput{
    position: relative;
    min-height: 88%;
    max-height: 88%;
    margin: 3.5% 0.5% 6.5%; 
    overflow-y: scroll;
    width: 99%;
    border: none;
}

.textInputDefault{
    overflow-x: hidden;
    text-wrap: nowrap;
}

.textInputFull{
    text-wrap: wrap;
}           
   


.textInput::placeholder{
    color: hsl(0, 0%, 68%);
}

.textInput:focus{
    outline: none;
}

.textInput::-webkit-scrollbar{
    width: 8px;
}

.textInput::-webkit-scrollbar-track{
    background: transparent;
}

.textInput::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, hsl(0, 0%, 30%), hsl(240, 21%, 75%), hsl(240, 21%, 81%), hsl(240, 21%, 87%));
    border-radius: 5px;
}

.textInput::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, hsl(0, 0%, 25%), hsl(240, 21%, 70%), hsl(240, 21%, 76%), hsl(240, 21%, 82%));
}






.textDiv{
    position: relative;
    min-height: 88%;
    max-height: 88%;
    margin: 3.5% 0.5% 6.5%; 
    overflow-y: scroll;
    width: 99%;
    border: none;
} 

.textDivDefault{
    overflow-x: hidden;
    text-wrap: nowrap;
}

.textDivFull{
    text-wrap: wrap;
}           
   


.textDiv::placeholder{
    color: hsl(0, 0%, 68%);
}

.textDiv:focus{
    outline: none;
}

.textDiv::-webkit-scrollbar{
    width: 8px;
}

.textDiv::-webkit-scrollbar-track{
    background: transparent;
}

.textDiv::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, hsl(0, 0%, 30%), hsl(240, 21%, 75%), hsl(240, 21%, 81%), hsl(240, 21%, 87%));
    border-radius: 5px;
}

.textDiv::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, hsl(0, 0%, 25%), hsl(240, 21%, 70%), hsl(240, 21%, 76%), hsl(240, 21%, 82%));
}



#textToPrint{   
    position: absolute;
    min-height: 87%;
    max-height: 87%;
    margin: 3.5% 0.5% 6.5%; 
    overflow-y: scroll;
    width: 98%;
    border: none;
    opacity: 0;
}