#confirmSaveDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    padding-top: 10vh;
    background-color: hsla(133, 35%, 59%, 0.1);
    left: 0;
    right: 0;
    border-radius: 1vh;
    z-index: 5;
}

.confirmSaveDivCompDiv{
    min-width: 180px;
    max-width: 340px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmSaveDivCompDiv p{
    margin-top: 5px;
    padding: 1px 8px;
    border-radius: 2px;
    background-color: #fff;
    max-width: 300px;
}

.confirmFileNameInputDiv{
    position: relative;
    width: 178px;
    min-width: 25vw;
    max-width: 300px;
}


.confirmFileNameInput{
    flex: 1;
    border: none;
    height: 24px;
    border-radius: 12px;
    padding-left: 10px;
    box-shadow: 1px 1px 2px hsla(133, 35%, 59%, 0.2);
}

.confirmFileNameInputDiv span{
    position: absolute;
    display: grid;
    place-content: center;
    background-color: #fff;
    right: 0.4vw;
    top: 0.3vh;
}

.confirmFileNameInput:focus{
    outline: none;
}

.confirmSaveDivCompDiv div{
    width: 178px;
    min-width: 25vw;
    max-width: 300px;
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}

#btn{
    display: grid;
    place-content: center;
    border-radius: 5px;
    height: 20px;
    flex: 1;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px hsla(133, 35%, 59%, 0.2);
}

.cancelBtn{
    color: #fff;
    background-color: hsl(0, 59%, 69%);
}
.cancelBtn:hover{
    background-color: hsl(0, 59%, 60%);
}
