.container{
    display: flex;
    align-items: center;
    column-gap: 1px;
    height: 100%;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
}

.container p{
    margin: 0;
    transform: rotate(90deg);
    font-size: 12px;
}

.btn{
    position: relative;
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
}

.textInput{
    color: #343;
    position: absolute;
    width: 11vw;
    min-width: 100px;
    background-color: #fff;
    left: -3.8vw;
    height: 17px;
    top: -3.05vh;
    border: none;
    border-radius: 5px;
    padding: 0 2.5px;
    font-size: 10px;
    box-shadow: 1.5px 1.5px 2px hsl(240, 94%, 87%);
}

#linkBtn{
    display: grid;
    place-content: center;
    position: absolute;
    top: -2.9vh;
    right: -5.2vw;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.insertLinkImg{
    width: 15px;
    height: 15px;
}

.notLinkImg{
    width: 8px;
    height: 8px;
}

.textInput::placeholder{
    color: hsl(240, 100%, 75%);
}

.textInput:focus{
    outline: 1px solid hsl(240, 100%, 92%);
}

.textLight{
    color: hsl(240, 15%, 40%, 0.9);
}
.textDark{
    color: #fff;
}