#container{
    box-shadow: 1px 1px 2px hsl(120, 14%, 80%);
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 2vw;
    top: 0;
    right: 1vw;
    left: 1vw;
    z-index: 6;
    padding: 0 1vw;
    overflow-x: scroll;
    border-radius: 1vw; 
}

.containerLight{
    background-color: #fff;
}
.containerDark{
    background-color: hsl(0, 0%, 40%);
}

.textLight{
    color: hsl(240, 15%, 40%, 0.9);
}
.textDark{
    color: #fff;
}

#container::-webkit-scrollbar{
    display: none;
}

.btn{
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid hsl(240, 94%, 87%);
    border-radius: 5px;
    background-color: #fff;
}


.listDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
    height: 100%;
}

.listDiv p{
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.listBtnDiv{
    margin-top: 2.5px;
    display: flex;
    align-items: center;
    column-gap: 2px;
}


.tableDiv{
    display: flex;
    align-items: center;
    column-gap: 1px;
    height: 100%;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
}

.tableDiv p{
    margin: 0;
    transform: rotate(90deg);
    font-size: 12px;
}

.imgDiv{
    display: flex;
    align-items: center;
    column-gap: 1px;
    height: 100%;
    border-right: 1px solid hsla(249, 53%, 90%, 0.8);
    padding: 0 1vw;
}

.imgDiv p{
    margin: 0;
    transform: rotate(90deg);
    font-size: 12px;
}